*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
#main-container{
    display: flex;
    flex-direction: row;
    
}
div#container{
    width: 60%;
    background-color: white;
    margin-left: 40%;
    /*responsive etmek ucun ne etmek olar*/
}
div#profile-photo{
    position: fixed;
    background-image: url('../img/profile_girl.jpg');
    background-size: cover;
    background-position: center;
    width: 40%;
    min-height: 100%;
}
header{
    padding: 150px 10px;
    text-align: center;
}
header h1{
    font-size: 70px;
}
header h4{
    padding-top: 20px;
    padding-bottom: 20px;
}
button{
    margin-top: 10px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    padding: 20px 20px;
    font-size: 17px;
}
button:hover{
    background-color: #c0bebe;
}

section#my-portfolio div#photos div{
    width: 48%;
}
section h2{
    padding-bottom: 20px;
    font-size: 30px;

}
div#photos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
section#my-portfolio img{
    width: 100%;
    margin-bottom: 10px;
}
main>section{
    color:#5c5b5b;
    padding: 50px 20px;
}
section#about p{
    font-weight: 700;
    line-height: 22px;
}
div#progress-container{
    background-color: #e0e6e6;
    height: 25px;
}
div.progress{
    background-color:#5c5b5b;
    color: white;
    text-align: center;
    height: 100%;
}
div.progress-size-1{
    width: 95%;
}
div.progress-size-2{
    width: 85%;
}

div.progress-size-3{
    width: 80%;
}
section#my-skills > div:not(#results){
    padding-bottom: 20px;
}
section#my-skills > div p{
    padding-bottom: 10px;
}
div#results{
    margin-top: 20px;
    background-color:#5c5b5b;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
}
div#results > div{
    padding: 30px 50px;
    text-align: center;
    font-weight: 700;
}
section#my-reputation > div{
   height: 110px;
   margin-bottom: 10px;
   display: flex;
}
section#my-reputation > div img{
    width: 15%;
    height: 100%;
    border-radius: 200px;
    margin-right: 20px;
}
section#my-reputation span#user-name{
    display: inline-block;
    padding-top: 10px;
    color: black;
    font-size: 20px;
}
section#my-reputation span#user-work{
    padding: 20px;
    font-size: 17px;
}
section#my-reputation p#feedback{
    padding-top: 20px;
    font-size: 17px;
    font-weight: 700;
}
